<link rel="stylesheet" href="/css/header.css">
<header>
    <!-- page header -->
    <div id="header">
        <div id ="logo">
            codeial </div>
       
        <% if(locals.user){ %>
        <!-- <li><%= user.Name %></li> -->
        <div><%= user.Name %>
        <!-- <li><%= user.Email%></li> -->
        <a href ="/user/sign-out">Signout</a></div>
        <% }else{ %>
            
               <div id = "button">   <a href="/user/Sign-in">SignIn</a></div>
            
            <% } %>
    </div>
</header>