<!-- <html>
    <head>
        <title><%= title%></title>
    </head>
    <body>
        useing partials  -->
        <!-- <%- include('_header'); -%>  -->
     
        <h1>This is codeial speaking
        </h1>
<!-- 
        <%- include('_footer'); %>


    </body>
</html> -->