<h1>Sign Up</h1>
<form  action="/user/create" method="POST">
    <input type = "name" name ="Name" placeholder="Yout Name" required>
    <input type = "email" name ="Email" placeholder="Yout Email" required>
    <input type = "password" name ="Password" placeholder="Password" required>
    <input type = "password" name ="Confirm_password" placeholder="Confirm_password" required>
    <input type = "submit" value ="SignUp">
</form>
<p>
    <a href="/user/auth/google"><input type="submit" value ="Sign Up With Google"></a> 
</p>