<link rel="stylesheet" href="/css/SignIn.css">
<div id ="signin-data">

    <h1>Login Form</h1>
<div id = "Sign-in">
   
<form action="/user/create-session" method="POST">
    
    <p>Join the community</p>
    <div id = "input-email"><input  id = "email" type="email" name ="email" placeholder="Enter Your Email" required></div>
    <div><input id ="password" type="password" name="password" placeholder="Enter Your Password" required></div>
    <div id ="div-button"><input id = "button" type="submit" value="Login "></div>
</form>
</div>

</div>

