<link rel="stylesheet" href="/css/SignIn.css">
<div id ="signin-data">

    <h1>Login Form</h1>
<div id = "Sign-in">
   
<form action="/user/create-session" method="POST">
    <img src="/images/Community.jpg" alt="">
    <p>Join the community</p>
    <div id = "input-email"><input  id = "email" type="email" name ="email" placeholder="Enter Your Email" ></div>
    <div><input id ="password" type="password" name="password" placeholder="Enter Your Password" ></div>
    <div id ="div-button"><input id = "button" type="submit" value="Login ">
        
    </div>
</form>

</div>
<p>
    <!-- <a href="/user/auth/google">googleSignIn?Signup</a> -->
    <div><a href="/user/auth/google"><input type="submit" value ="Sign In With Google"></a> </div>
    
</p>

</div>

