<!-- <html>
    <head>
        <title><%= title%></title>
    </head>
    <body>
        <header>
            page header
        </header> --> 
        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>This is user profile pages</h1>
         <!-- <footer>
            Page footer
        </footer>
    </body>
</html> -->