#home-container{
    display: flex;
    // justify-content: center;
    #feeds-post{
        width:70%;
        padding: 10px;
    }
    img{
        width: 50;
        border-radius: 50%;
    }
    small{
        margin-top: 100px;
        
    }
    #user-friends{
        margin-top: 10px;
        width:25%;
        padding: 10px;
        background-color: white;
        height: 100%;
    }
}