header {
  height: 65px;
  width: 100vw;
  background-color: #2f154c;
  color: white; }
  header #header {
    display: flex;
    justify-content: space-between; }
    header #header #logo {
      font-family: Helvetica;
      font-size: 50px; }
